.rborder{
  border: solid 2px red;
}

.yborder{
  border: solid 2px yellow;
}
.gborder{
  border: solid 2px green;
}

.profileimg{
  border-radius: 50%;
  width: 120px;
  height: 120px;
 object-fit: cover;
 margin: 20px;
}

.invalidField{
  border-color: 2px solid red;
  background-color: aliceblue;
  color: red;
}